<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" routerLink="/product">Products</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>

<!-- main app container -->
<div class="container">
    <router-outlet></router-outlet>
</div>

<!-- credits -->
<div class="text-center mt-4 text-monospace">
    <p>
        <a href="https://api.whatsapp.com/send?phone=+917411764996" target="_blank" class="text-dark">Angular 8 Project by Nooruddin Saheb</a>
    <br/>
        <a href="https://github.com/nrnsaheb" class="text-dark" target="_blank">Nooruddin Saheb Github</a>
    </p>
</div>